In [3]:
import capstone_project_g5

ModuleNotFoundError: No module named 'capstone_project_g5'

In [2]:
%pip install capstone-project-g5==0.1.0

Collecting capstone-project-g5==0.1.0
  Downloading capstone_project_g5-0.1.0-py3-none-any.whl (3.0 kB)
Installing collected packages: capstone-project-g5
Successfully installed capstone-project-g5-0.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import paramiko

ssh_client = paramiko.SSHClient()
ssh_client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh_client.connect(hostname='172.21.1.42', username='npastorb', password='npastorb123')
ftp_client = ssh_client.open_sftp()

In [12]:
with ftp_client.open("/home/npastorb/derco/Patente-01.csv") as file_patentes:
    df_patentes = pd.read_csv(file_patentes, sep=",")

In [13]:
df_patentes

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
0,GC7892,austin,2021,automovil,mg 1300,1971,b3e88e2a30d3519b86f2ec7031505800c3d295d20bc76d...
1,KG7392,toyota,2018,jeep,bj 40 lv,1983,84355d219dbcf5dc4f4ee954ddd90f2be4c1de77b3042e...
2,VK7934,chevrolet,2020,automovil,corsa hb 1 6,2003,15b9eb17b4422f8307fdf50f28331163839addc64feaf1...
3,DYDC12,fiat,2020,automovil,grande punto active 1 4,2012,dd9e964b0052860e36c331f49400ca9f4484d6aef115da...
4,WH6683,toyota,2018,automovil,corolla,2007,ab3c8d5c56b57e25ddd043eea24cfe0bea731b293317de...
...,...,...,...,...,...,...,...
45549017,CB9188,hyundai,2021,automovil,stellar 1.6 gsl,1989,25566fe31cd13126d9cab4502a30c7b195d25e90579dbd...
45549018,RX2161,toyota,2017,camioneta,hi lux std 2.4,1998,84584e6b7b3fde78186dd063bf098706a830463ae40c32...
45549019,TL3159,toyota,2016,automovil,yaris,2000,0090e15a7f76fe45a7c2ee574780328d6a8ac3e388737d...
45549020,DFYW23,kia,2018,automovil,rio,2011,6762414cd46e269f7ad5aeae2614e07be157f239e53b9b...
45549021,FZGF21,chevrolet,2016,furgon,n300,2014,41eb178fd6113cc0246968432feca670e0cb24ffbc47b0...

In [20]:
df_patentes_2016 = df_patentes[df_patentes["ano_patente"] == 2016]
df_patentes_2016

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
30,CKKB22,toyota,2016,camioneta,hilux,2010,3e2596770023b886fa736e03d387d6ec518686f922a242...
32,TK3690,nissan,2016,camioneta,d 21,2000,445ca13493732da6cac5a82197a7cc56f7ae3d1b9c509a...
34,FT7661,renault,2016,automovil,4s,1972,ba9d17023861791ddef6971c4a2a3a123f7230e90fee31...
36,FXRJ35,mitsubishi,2016,camioneta,l200,2014,791a06fb5b2b9c209c21dafc1927dbdcc93ce07c03b43b...
45,XT4725,kia,2016,camioneta,frontier,1999,eba6fcc5d73b86f43f5b50b7df90863b6f587d95693f68...
...,...,...,...,...,...,...,...
45549005,CKYR91,peugeot,2016,furgon,partner,2010,230afc24f65c06d9a8077cf2f5e46f23c4b73ffad6582d...
45549010,TX5958,kia,2016,automovil,pride,2000,88864734bcefad90a35ebace87840738085fc0e1063185...
45549014,FU1342,datsun,2016,automovil,bluebird,1981,8cda88e084a20c05681940530ce6f4b10593291feadddf...
45549019,TL3159,toyota,2016,automovil,yaris,2000,0090e15a7f76fe45a7c2ee574780328d6a8ac3e388737d...
45549021,FZGF21,chevrolet,2016,furgon,n300,2014,41eb178fd6113cc0246968432feca670e0cb24ffbc47b0...

In [15]:
df_patentes_2017 = df_patentes[df_patentes["ano_patente"] == 2017]
df_patentes_2017

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
30,CKKB22,toyota,2016,camioneta,hilux,2010,3e2596770023b886fa736e03d387d6ec518686f922a242...
32,TK3690,nissan,2016,camioneta,d 21,2000,445ca13493732da6cac5a82197a7cc56f7ae3d1b9c509a...
34,FT7661,renault,2016,automovil,4s,1972,ba9d17023861791ddef6971c4a2a3a123f7230e90fee31...
36,FXRJ35,mitsubishi,2016,camioneta,l200,2014,791a06fb5b2b9c209c21dafc1927dbdcc93ce07c03b43b...
45,XT4725,kia,2016,camioneta,frontier,1999,eba6fcc5d73b86f43f5b50b7df90863b6f587d95693f68...
...,...,...,...,...,...,...,...
45549005,CKYR91,peugeot,2016,furgon,partner,2010,230afc24f65c06d9a8077cf2f5e46f23c4b73ffad6582d...
45549010,TX5958,kia,2016,automovil,pride,2000,88864734bcefad90a35ebace87840738085fc0e1063185...
45549014,FU1342,datsun,2016,automovil,bluebird,1981,8cda88e084a20c05681940530ce6f4b10593291feadddf...
45549019,TL3159,toyota,2016,automovil,yaris,2000,0090e15a7f76fe45a7c2ee574780328d6a8ac3e388737d...
45549021,FZGF21,chevrolet,2016,furgon,n300,2014,41eb178fd6113cc0246968432feca670e0cb24ffbc47b0...

In [16]:
df_patentes_2018 = df_patentes[df_patentes["ano_patente"] == 2018]
df_patentes_2018

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
1,KG7392,toyota,2018,jeep,bj 40 lv,1983,84355d219dbcf5dc4f4ee954ddd90f2be4c1de77b3042e...
4,WH6683,toyota,2018,automovil,corolla,2007,ab3c8d5c56b57e25ddd043eea24cfe0bea731b293317de...
8,BPKY17,hyundai,2018,automovil,accent,2008,3d2e07bf7bcce4df9d48ff27e4f3f0aa19b80d546a223d...
13,HZ0701,yamaha,2018,moto,xv 250 s,1998,bf74ae7482fb292d3411beb86122a580cf287cb0c18b1a...
16,VY1968,kia,2018,automovil,rio,2003,5ce901e914bcdfa1bd94f391e465aa67741fcbeaf6a69b...
...,...,...,...,...,...,...,...
45548989,LS1361,daewoo,2018,automovil,heaven gle,1995,18bff285ef2cb93571674c70d3d281d7270ab46bc4cb44...
45548992,CXVZ53,toyota,2018,automovil,yaris,2013,e5e00d0f187d8e0ef6aeb65ec6063ff5b982b901ecbec3...
45548996,VA4315,ford,2018,camioneta,ranger,2002,299f65cf3be820aa86f779fba3fe44a21cd66664919030...
45549007,HBBZ38,nissan,2018,station wagon,modelo nula,1999,e6b3f4ce7d2ca0a624e4a22325f859e1d523189312cb7f...
45549020,DFYW23,kia,2018,automovil,rio,2011,6762414cd46e269f7ad5aeae2614e07be157f239e53b9b...

In [17]:
df_patentes_2019 = df_patentes[df_patentes["ano_patente"] == 2019]
df_patentes_2019

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
6,GS3505,fiat,2019,automovil,1500,1968,694714623d28cf0d76c9685b89b82129d0cd97db47d7b5...
9,AV9623,chevrolet,2019,automovil,chevette,1980,b502318d53fb9985655a935ab503635649c34f0a9c36ed...
11,JZZY64,citroen,2019,automovil,new c-elysee hdi 1.6,2018,335955ad1864bbc66c47c5e7ed6ae186a2a90326aa1ea4...
14,KCHF68,suzuki,2019,automovil,swift gl 1.2,2018,bf74ae7482fb292d3411beb86122a580cf287cb0c18b1a...
26,SH5779,asia motors,2019,camioneta,towner long cargo,1998,8879b989b53dfd1d3597f20f317b40f52555bfa0323428...
...,...,...,...,...,...,...,...
45548990,KFFX65,mazda,2019,station wagon,all new cx 5 r 2.0 aut,2018,f751b7bf2e7a8eb10a997060575db0801fa7a47d393ad5...
45549000,RU9378,nissan,2019,automovil,sentra ii xe saloon 1.6,1998,774d98ebe852e0f323aeea0ba18a3353e27361484ce666...
45549008,WL7405,mitsubishi,2019,station wagon,delica 2.8 aut,1994,e6b3f4ce7d2ca0a624e4a22325f859e1d523189312cb7f...
45549013,HGRB27,suzuki,2019,station wagon,grand nomade glx sport 2.4,2015,d3bc81111bf6906fefddeeb323798febb284856333189e...
45549016,NY4214,opel,2019,automovil,corsa eco,1996,2058d6e6369a57e8cb917fcc324b0728cd1a8333b26198...

In [18]:
df_patentes_2020 = df_patentes[df_patentes["ano_patente"] == 2020]
df_patentes_2020

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
2,VK7934,chevrolet,2020,automovil,corsa hb 1 6,2003,15b9eb17b4422f8307fdf50f28331163839addc64feaf1...
3,DYDC12,fiat,2020,automovil,grande punto active 1 4,2012,dd9e964b0052860e36c331f49400ca9f4484d6aef115da...
5,DLDX32,chevrolet,2020,furgon,n300 max van 1 2,2012,b7b1c0916aeb22c649c01413e2ef58e0477d5355abae39...
10,KHPT83,mazda,2020,station wagon,new cx5 2 0,2018,2d48e5deb2e0890f0e903f44ae229a822da5b922f64010...
17,FY4509,chevrolet,2020,jeep,trooper,1988,b27d5db21d057be16e126af367775a890e7415a4c485c7...
...,...,...,...,...,...,...,...
45548983,UF1883,mitsubishi,2020,camioneta,l200 d cab 2 5,2001,1e0b0fece996066db679ad716a44bf10b0acc5a7fd7776...
45548994,KF9379,chevrolet,2020,camioneta,luv 2 3,1993,19c4ba44d621cbf7f3394cfd2dadb6d27ad8ad0a405ce6...
45549001,FGLC80,chevrolet,2020,station wagon,captiva iii lt sa fwd 2 4 at,2013,9c8e173b57bc2cc1b0457d5c325a68a2c476d0218f6327...
45549004,JRVP33,lifan,2020,station wagon,lf x50 ex 1 5,2017,7daea29a219ef6a9e23221ec08a1b2e88684bbe884a989...
45549009,XT4668,hyundai,2020,camioneta,porter 2 5,1993,e6b3f4ce7d2ca0a624e4a22325f859e1d523189312cb7f...

In [19]:
df_patentes_2021 = df_patentes[df_patentes["ano_patente"] == 2021]
df_patentes_2021

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
0,GC7892,austin,2021,automovil,mg 1300,1971,b3e88e2a30d3519b86f2ec7031505800c3d295d20bc76d...
12,FN8752,subaru,2021,furgon,e 10 delivery van,1989,dec9f4fa8b6f8286dc34fb1ae2ee11265e8d5e68b620f5...
15,EZ4489,peugeot,2021,station wagon,505 familiar,1989,5260c556d65cd90ab4d447d66578a529aa3f883a519960...
23,JFZY91,mazda,2021,station wagon,verisa 1.5 aut,2007,245f80d13649b083111e6010352368097cdf5ae3af4a5c...
29,DX6558,chevrolet,2021,automovil,monza 1.8 sle,1992,9b5dba868a63643aad6e1d9c37a0f638e553fea4d97002...
...,...,...,...,...,...,...,...
45548987,CRHH86,chevrolet,2021,automovil,spark gt hb 1.2,2010,a5bcb889c843fc42539ad9dfaf142a8efcd0bf6192df6e...
45548997,BVPJ56,chevrolet,2021,camioneta,montana sport 1.8,2009,441399aece57db8df89e31e58f4dad51c6303990d61c4d...
45549011,DKTW89,chevrolet,2021,camioneta,dmax 4wd 2.5,2012,cf5b5cfefeded1748ca4ce62dafb6801ad54d48bc9074f...
45549012,JTTG86,chrysler,2021,station wagon,aspen 5.7 aut,2008,f47524a2baa7c5e1f9f5a4df46990b65500eab819582e7...
45549017,CB9188,hyundai,2021,automovil,stellar 1.6 gsl,1989,25566fe31cd13126d9cab4502a30c7b195d25e90579dbd...