In [1]:
import pandas as pd
import paramiko

/Users/nicolas/opt/anaconda3/envs/MDS/lib/python3.8/site-packages/paramiko/transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [2]:
ssh_client = paramiko.SSHClient()
ssh_client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh_client.connect(hostname='172.21.1.42', username='npastorb', password='npastorb123')
ftp_client= ssh_client.open_sftp()

Contiene todos los modelos comercializados en Chile
/home/npastorb/derco/Diccionario_Modelos_Inscripciones.csv

In [5]:
with ftp_client.open("/home/npastorb/derco/Diccionario_Modelos_Inscripciones.csv") as f:
    df = pd.read_csv(f, sep=";")

In [6]:
df

,MARCA EN BASE MODELO EN BASE,FECHA,VEHICULO,TIPO,MARCA EN BASE,MODELO HOMOLOGADO,MODELO EN BASE,MARCA,MODELO FAMILIA,SPORT,CHINA,MARCA MODELO HOMOLOGADO,MARCA MODELO FAMILIA,N SEGMENTOS,N SPORT NO SPORT,SEGMENTO,CLASIFICACION,N MH
0,ABARTH 595 E6D 695 RIVALE 1.4,43617,LIVIANO Y MEDIANO,Vehículo de Pasajeros,ABARTH,595,595 E6D 695 RIVALE 1.4,ABARTH,595,SPORT,OTRO,ABARTH 595,ABARTH 595,1,1,HATCHBACK,A,1
1,ABARTH 595E6D 1.4,43617,LIVIANO Y MEDIANO,Vehículo de Pasajeros,ABARTH,595,595E6D 1.4,ABARTH,595,SPORT,OTRO,ABARTH 595,ABARTH 595,1,1,HATCHBACK,A,1
2,ABARTH ABARTH 595 1.4,43800,Livianos y Medianos,AUTO,ABARTH,595,ABARTH 595 1.4,ABARTH,595,SPORT,OTRO,ABARTH 595,ABARTH 595,1,1,HATCHBACK,A,1
3,ABARTH SIN MODELO,43556,LIVIANO Y MEDIANO,Vehículo de Pasajeros,ABARTH,SIN MODELO,SIN MODELO,ABARTH,SIN MODELO,NO SPORT,OTRO,ABARTH SIN MODELO,ABARTH SIN MODELO,1,1,SIN MODELO,SIN MODELO,1
4,ACURA MDX,44136,LIVIANO Y MEDIANO,STW,ACURA,MDX,MDX,ACURA,MDX,NO SPORT,OTRO,ACURA MDX,ACURA MDX,1,1,SUV,E,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25621,ZXAUTO TERRALORD LUX PLUS 4X4 MT,43983,LIVIANO Y MEDIANO,CMNT,ZXAUTO,TERRALORD,TERRALORD LUX PLUS 4X4 MT,ZXAUTO,TERRALORD,NO SPORT,CHINA,ZXAUTO TERRALORD,ZXAUTO TERRALORD,1,1,PICK UP,C,1
25622,ZXAUTO TERRALORD LUX PLUS 4X4 MT 2.5,44075,LIVIANO Y MEDIANO,CMNT,ZXAUTO,TERRALORD,TERRALORD LUX PLUS 4X4 MT 2.5,ZXAUTO,TERRALORD,NO SPORT,CHINA,ZXAUTO TERRALORD,ZXAUTO TERRALORD,1,1,PICK UP,C,1
25623,ZXAUTO TERRALORD LUX PLUS D/C MT 4X4,44197,Livianos y Medianos,CMNT,ZXAUTO,TERRALORD,TERRALORD LUX PLUS D/C MT 4X4,ZXAUTO,TERRALORD,NO SPORT,CHINA,ZXAUTO TERRALORD,ZXAUTO TERRALORD,1,1,PICK UP,C,1
25624,ZXAUTO TERROLORD DC DLX 4X2,44105,LIVIANO Y MEDIANO,CMNT,ZXAUTO,TERRALORD,TERROLORD DC DLX 4X2,ZXAUTO,TERRALORD,NO SPORT,CHINA,ZXAUTO TERRALORD,ZXAUTO TERRALORD,1,1,PICK UP,C,1
25625,ZXAUTO TERROLORD DLX MT 4X4,44348,Livianos y Medianos,CMNT,ZXAUTO,TERRALORD,TERROLORD DLX MT 4X4,ZXAUTO,TERRALORD,NO SPORT,CHINA,ZXAUTO TERRALORD,ZXAUTO TERRALORD,1,1,PICK UP,C,1

Contiene todos los vehiculos de chile, su año de inscripcion, su año real y rut (encriptado)
/home/npastorb/derco/Patente-01.csv

Observaciones
- el modelo cambia con respecto al tiempo, en el caso de la patente HVRP14, en 2016 su modelo era **'is300h cvt'** y luego fue **'is300h cvt 2.5'**
- no estan absolutamente todos los permisos de circulacion de los vehiculos, un ejemplo de ello es pa patente **'FKSP26'** que solo tiene el permiso de circulacion 2016
- tener cuidado con los rut que sean empreas

In [15]:
with ftp_client.open("/home/npastorb/derco/Patente-01.csv") as file_patentes:
    df_patentes = pd.read_csv(file_patentes, sep=",")

In [16]:
df_patentes

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
0,GC7892,austin,2021,automovil,mg 1300,1971,b3e88e2a30d3519b86f2ec7031505800c3d295d20bc76d...
1,KG7392,toyota,2018,jeep,bj 40 lv,1983,84355d219dbcf5dc4f4ee954ddd90f2be4c1de77b3042e...
2,VK7934,chevrolet,2020,automovil,corsa hb 1 6,2003,15b9eb17b4422f8307fdf50f28331163839addc64feaf1...
3,DYDC12,fiat,2020,automovil,grande punto active 1 4,2012,dd9e964b0052860e36c331f49400ca9f4484d6aef115da...
4,WH6683,toyota,2018,automovil,corolla,2007,ab3c8d5c56b57e25ddd043eea24cfe0bea731b293317de...
...,...,...,...,...,...,...,...
45549017,CB9188,hyundai,2021,automovil,stellar 1.6 gsl,1989,25566fe31cd13126d9cab4502a30c7b195d25e90579dbd...
45549018,RX2161,toyota,2017,camioneta,hi lux std 2.4,1998,84584e6b7b3fde78186dd063bf098706a830463ae40c32...
45549019,TL3159,toyota,2016,automovil,yaris,2000,0090e15a7f76fe45a7c2ee574780328d6a8ac3e388737d...
45549020,DFYW23,kia,2018,automovil,rio,2011,6762414cd46e269f7ad5aeae2614e07be157f239e53b9b...
45549021,FZGF21,chevrolet,2016,furgon,n300,2014,41eb178fd6113cc0246968432feca670e0cb24ffbc47b0...

In [17]:
df_patentes[df_patentes["patente"] == "HVRP14"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
6029170,HVRP14,lexus,2020,automovil,is300h cvt 2 5,2016,3ab0a6d8ed62f51a503361675a8cf6b0b8ed30e4edb7ec...
39477317,HVRP14,lexus,2017,automovil,is300h cvt 2.5,2016,3ab0a6d8ed62f51a503361675a8cf6b0b8ed30e4edb7ec...
42663482,HVRP14,lexus,2019,automovil,is300h cvt 2.5,2016,3ab0a6d8ed62f51a503361675a8cf6b0b8ed30e4edb7ec...
44389617,HVRP14,lexus,2021,automovil,is300h cvt 2.5,2016,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
44744768,HVRP14,lexus,2018,automovil,is300h cvt,2016,3ab0a6d8ed62f51a503361675a8cf6b0b8ed30e4edb7ec...

In [18]:
df_patentes[df_patentes["patente"] == "GCSD87"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
8740974,GCSD87,lexus,2020,automovil,is250 2 5 aut,2014,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
24586730,GCSD87,lexus,2019,automovil,is250 2.5 aut,2014,a1cb99ad799726b4319011b544733dda89b493688a4fea...
25212881,GCSD87,lexus,2017,automovil,is250 2.5 aut,2014,c22c41cb6e483c8fe0866b76dfba82881b538ae2f25bf4...
35901417,GCSD87,lexus,2016,automovil,is250,2014,a0c8d282430c48403bfef8a9cf2b092c791c7a8601ce51...
36886733,GCSD87,lexus,2018,automovil,is250,2014,a1cb99ad799726b4319011b544733dda89b493688a4fea...
44155899,GCSD87,lexus,2021,automovil,is250 2.5 aut,2014,ef8ef668c2d673406cbf6700efcb16dff8995211c356d6...

In [19]:
df_patentes[df_patentes["patente"] == "FKSP26"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
9967209,FKSP26,mercedes benz,2016,automovil,c 180,2013,5b05ecf2bc316721ec45d9f5e301219cc1f57ff697ef62...

In [20]:
df_patentes[df_patentes["patente"] == "CHTG38"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
892025,CHTG38,bmw,2021,automovil,116i b 1.6,2010,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...
4471143,CHTG38,bmw,2016,automovil,116,2010,cb6bdcdd9bf27a20f7544385f09b1085e0089456728fe8...
21841674,CHTG38,bmw,2020,automovil,116i b 1 6,2010,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...
24686064,CHTG38,bmw,2018,automovil,116,2010,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
39034083,CHTG38,bmw,2017,automovil,116i b 1.6,2010,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
42791221,CHTG38,bmw,2019,automovil,116i b 1.6,2010,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...

In [21]:
df_patentes[df_patentes["patente"] == "CXPB46"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
1269667,CXPB46,toyota,2018,automovil,yaris,2011,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...
11517725,CXPB46,toyota,2016,automovil,yaris,2011,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...
18804733,CXPB46,toyota,2019,automovil,yaris gli 1.5,2011,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...
20128884,CXPB46,toyota,2020,automovil,yaris gli 1 5,2011,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
39034084,CXPB46,toyota,2021,automovil,yaris gli 1.5,2011,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
44240947,CXPB46,toyota,2017,automovil,yaris gli 1.5,2011,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...

In [22]:
df_patentes[df_patentes["patente"] == "JJPL63"]

,patente,marca,ano_patente,max(tipo),modelo,ano_fabricacion,encrypt-rut
3731772,JJPL63,mazda,2020,automovil,new 3 1 6 aut,2017,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
6024569,JJPL63,mazda,2017,automovil,new 3 1.6 aut,2017,ba7108eaf40cb145b49ddbd0a2ddec31989fbd281edb8d...
8040786,JJPL63,mazda,2019,automovil,new 3 1.6 aut,2017,ba7108eaf40cb145b49ddbd0a2ddec31989fbd281edb8d...
8740975,JJPL63,mazda,2021,automovil,new 3 1.6 aut,2017,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...
16465234,JJPL63,mazda,2018,automovil,new 3,2017,ba7108eaf40cb145b49ddbd0a2ddec31989fbd281edb8d...

In [4]:
with ftp_client.open("/home/npastorb/derco/patentes_historico_02.parquet") as f:
    df_patentes_historico_02 = pd.read_parquet(f)

In [8]:
df_patentes_historico_02

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
0,mazda,HTKT99,0000099ac6876dd89340ff9141f50194c78e24cd62c11c...,2017,station wagon,demio 1.5 aut,2006
1,mazda,HTKT99,0000099ac6876dd89340ff9141f50194c78e24cd62c11c...,2018,station wagon,demio 1.5 aut,2006
2,mazda,LYRJ39,0000449f1c3136b7bb209a4096e403f51cbe6845343212...,2021,automovil,all new 3 2.0 aut,2020
3,mazda,CYGD16,000054d225f0246573b76f084823d11056da0b5091dbdf...,2016,station wagon,cx 7 2.5 at,2011
4,mazda,FWXD51,000136330e202fee9b4b6a87a98bd4487b92ba0ffd711c...,2017,station wagon,cx 5 gt awd 2.5 at,2013
...,...,...,...,...,...,...,...
26395307,dodge,KLCD37,ff9e2760e3d304f3ff7229b13b5d7bdf6def36e57a0917...,2019,camioneta,700 adventure dcab 1.6,2018
26395308,dodge,PLHV37,ffa2eab10cfc4eadc438f64b0da0b543240895992ec993...,2021,camioneta,700 bighorn cd 1.4,2021
26395309,dodge,JRXS83,ffcb9cc851ce3bae7f4328093d073da26b5e6a233ba8e4...,2019,camioneta,1500 laramie 4x4 3.0,2018
26395310,dodge,LWCK56,ffd5da880d53ed4990172ba67051269dd6fa3574962567...,2021,furgon,van 1000 1.3,2020
26395311,dodge,KVPP38,ffe0eda22856f464255f4ffc01ad649aca0c8c612f311f...,2021,camioneta,700 slt cd dcab 1.4,2019

In [9]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "HVRP14"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
1224917,lexus,HVRP14,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2021,automovil,is300h cvt 2.5,2016

In [11]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "GCSD87"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
1219039,lexus,GCSD87,a0c8d282430c48403bfef8a9cf2b092c791c7a8601ce51...,2016,automovil,is250 2.5 aut,2014
1219114,lexus,GCSD87,a1cb99ad799726b4319011b544733dda89b493688a4fea...,2019,automovil,is250 2.5 aut,2014
1219115,lexus,GCSD87,a1cb99ad799726b4319011b544733dda89b493688a4fea...,2018,automovil,is250 2.5 aut,2014
1221306,lexus,GCSD87,c22c41cb6e483c8fe0866b76dfba82881b538ae2f25bf4...,2017,automovil,is250 2.5 aut,2014
1224511,lexus,GCSD87,ef8ef668c2d673406cbf6700efcb16dff8995211c356d6...,2021,automovil,is250 2.5 aut,2014
1224916,lexus,GCSD87,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2020,automovil,is250 2.5 aut,2014

In [10]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "FKSP26"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
14917998,mercedes benz,FKSP26,5b05ecf2bc316721ec45d9f5e301219cc1f57ff697ef62...,2016,automovil,c 180,2013

In [12]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "CHTG38"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
5019643,bmw,CHTG38,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...,2021,automovil,116i b 1.6,2010
5019644,bmw,CHTG38,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...,2020,automovil,116i b 1.6,2010
5019645,bmw,CHTG38,7cdfa1d7492834a17f72ab06ee689846c389be77a17bbb...,2019,automovil,116i b 1.6,2010
5073855,bmw,CHTG38,cb6bdcdd9bf27a20f7544385f09b1085e0089456728fe8...,2016,automovil,116i b 1.6,2010
5102984,bmw,CHTG38,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2018,automovil,116i b 1.6,2010
5102985,bmw,CHTG38,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2017,automovil,116i b 1.6,2010

In [13]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "CXPB46"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
2929572,toyota,CXPB46,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...,2018,automovil,yaris gli 1.5,2011
2929573,toyota,CXPB46,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...,2016,automovil,yaris gli 1.5,2011
2929574,toyota,CXPB46,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...,2019,automovil,yaris gli 1.5,2011
2929575,toyota,CXPB46,214c4f0af2fa0f311429a6d56ccd67795f8f6e81fda662...,2017,automovil,yaris gli 1.5,2011
4816054,toyota,CXPB46,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2020,automovil,yaris gli 1.5,2011
4816055,toyota,CXPB46,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2021,automovil,yaris gli 1.5,2011

In [14]:
df_patentes_historico_02[df_patentes_historico_02["patente"] == "JJPL63"]

,marca,patente,rut,ano_patente,tipo,modelo,ano_fabricacion
998226,mazda,JJPL63,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2020,automovil,new 3 1.6 aut,2017
998227,mazda,JJPL63,f56cfdb98bebae9ba98b162eaa9c7a0ab32ede2cd637bc...,2021,automovil,new 3 1.6 aut,2017

/home/npastorb/derco//cjourney/data/processed/bn_activos_v1_streamlit.csv

Atenciones de personas en sucursales Derco/AutoPlanet(AP) por rut, automovil, edad vehiculo y cantidad de veces que ha ido a SSTT

In [6]:
with ftp_client.open("/home/npastorb/derco//cjourney/data/processed/bn_activos_v1_streamlit.csv") as file_bn_activos_v1_streamlit:
    df_bn_activos_v1_streamlit = pd.read_csv(file_bn_activos_v1_streamlit, sep=",")

In [7]:
df_bn_activos_v1_streamlit

,Rut,Genero,Comuna,Generacion,Marca,EdadVehiculo,ActivoAP,ActivoSSTT,Amicar,CollageClass,CountAP,CountSSTT
0,0000100db770d02afaa20e762f8e31eca4281b6fb0e85c...,NaN,EL BOSQUE,Generacion Y,Changan,6 a 10 años,0,0,0,B05: Nana con asistencia estatal. Clase asisti...,0,0
1,00bc0de443905ba3ae1399ede03f0c3c1e1400ee887669...,NaN,EL BOSQUE,Baby Boomer,Suzuki,2 a 6 años,0,0,0,C08: Adulto nido vacío,0,0
2,0166f5850654a3063bac4beb6515eed1b6fb2436e7a730...,MASCULINO,EL BOSQUE,Generacion X,Changan,0 a 2 años,0,0,0,C10: Adultos jóvenes en vías de consolidación,0,1
3,031d032c77a66278e68f324aa25d336ce093ada9892829...,NaN,EL BOSQUE,Generacion Y,Suzuki,10 años o mas,0,0,0,C08: Adulto nido vacío,2,1
4,03a181ec14644e8d94d1779983f0f6ded0e4f365167ff4...,NaN,EL BOSQUE,Generacion Y,Suzuki,2 a 6 años,0,1,1,C10: Adultos jóvenes en vías de consolidación,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
167259,693ab1fdc42fd3fd845c5bfb21ac3f7aa0f8890861a05c...,FEMENINO,TIL TIL,Generacion X,JAC Cars,2 a 6 años,1,0,0,H21: Juan Herrera de los 80. Clase media surgi...,1,0
167260,a31564b09716fdfafcdff130e5fdaab83e6cb4cbcd9bec...,FEMENINO,TIL TIL,Generacion X,Suzuki,0 a 2 años,0,0,1,D13: Pensionados adultos mayores,0,0
167261,1a804136cf6fa0293bd6084c85b81619a8a9c56cc120d2...,MASCULINO,TIL TIL,Generacion X,Suzuki,2 a 6 años,0,0,1,B05: Nana con asistencia estatal. Clase asisti...,0,1
167262,35b4086a3c5efb95024b7336265a508147d4a999f0f7e1...,MASCULINO,TIL TIL,Generacion Y,Changan,2 a 6 años,0,0,1,A02: Dueñas de casa jóvenes de la periferia,0,0
167263,905be83d627d303ed7b58d99ea536d85bd1ef2b51a477f...,FEMENINO,TIL TIL,Generacion X,Suzuki,10 años o mas,0,0,0,A03: Adultos jóvenes con limitaciones educacio...,0,0

/home/npastorb/derco/cjourney/data/interim/rut_sig_nuevo_v3.csv
Contiene en general, informacion de clientes de Derco y filiales, y sus atenciones (incluida primera atencion)

In [8]:
with ftp_client.open("/home/npastorb/derco/cjourney/data/interim/rut_sig_nuevo_v3.csv") as file_rut_sig_nuevo_v3:
    df_rut_sig_nuevo_v3 = pd.read_csv(file_rut_sig_nuevo_v3, sep=",")

In [9]:
df_rut_sig_nuevo_v3

,rut,marca,sig_marca,dif_meses_nuevo,N_sstt,avg_meses_sstt,meses_primer_sstt,amicar,reciente,sig_amicar,...,N_meson,avg_meses_meson,meses_primer_meson,N_autoplanet,avg_meses_autoplanet,meses_primer_autoplanet,meses_externo_sstt,meses_externo_meson,meses_externo_autoplanet,primer_negocio
0,000003d282fb8c63673f83d3686ed986be20da1bcba4e8...,externo,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,21,3.798387,NaN,0,NaN,NaN,NaN,NaN,NaN,meson
1,0000067cecccc15416ddbe3e151495af91a8d70d847b7a...,Geely,NaN,NaN,0,NaN,NaN,False,False,NaN,...,0,NaN,NaN,1,NaN,106.580645,NaN,NaN,NaN,nuevo
2,00000e4d37c54a9b53c1af3482729ed5433232f0092775...,externo,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,5,9.725806,NaN,NaN,NaN,NaN,autoplanet
3,0000100db770d02afaa20e762f8e31eca4281b6fb0e85c...,Changan,NaN,NaN,0,NaN,NaN,False,False,NaN,...,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,nuevo
4,000014f0028a24898f030d58bc3212847c81da79f009a3...,externo,Great Wall,NaN,0,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,0,NaN,NaN,NaN,20.402883,NaN,meson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230446,fffff3ece0dac29e3c856dffa326757998ff50a33a8ef7...,JAC Cars,Great Wall,9.870968,0,NaN,NaN,False,False,False,...,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,sstt
2230447,fffff3ece0dac29e3c856dffa326757998ff50a33a8ef7...,Great Wall,Great Wall,43.161290,5,10.167742,8.451613,False,False,False,...,1,NaN,28.419355,0,NaN,NaN,NaN,NaN,NaN,sstt
2230448,fffff3ece0dac29e3c856dffa326757998ff50a33a8ef7...,Great Wall,NaN,NaN,2,15.387097,9.967742,False,True,NaN,...,1,44.709677,29.967742,0,NaN,NaN,NaN,NaN,NaN,sstt
2230449,fffff44b795b3abd8af200f26b6b31646435b168ee7de7...,externo,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,autoplanet
2230450,fffffef301870c392353a6c7b058a80b82f3cafde73609...,Mazda,NaN,NaN,1,NaN,12.451613,True,True,NaN,...,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,nuevo

/home/npastorb/derco/cjourney/data/raw/tabla_recomendador_parte2_20220701.csv
Contiene el cambio de vehiculos por persona, hasta el 14avo vehiculo

In [10]:
with ftp_client.open("/home/npastorb/derco/cjourney/data/raw/tabla_recomendador_parte2_20220701.csv") as file_tabla_recomendador_parte2_20220701:
    df_tabla_recomendador_parte2_20220701 = pd.read_csv(file_tabla_recomendador_parte2_20220701, sep=",")

/tmp/ipykernel_3299146/1470694776.py:2: DtypeWarning: Columns (20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tabla_recomendador_parte2_20220701 = pd.read_csv(file_tabla_recomendador_parte2_20220701, sep=",")

In [11]:
df_tabla_recomendador_parte2_20220701

,1_marca_modelo,1_marca_modelo_ano_edad,2_marca_modelo,2_marca_modelo_ano_edad,3_marca_modelo,3_marca_modelo_ano_edad,4_marca_modelo,4_marca_modelo_ano_edad,5_marca_modelo,5_marca_modelo_ano_edad,...,collage_class,collage_group,antiguedad_cliente,financiamiento,frequency,recency,T,CLV1,CLV2,encrypt-rut
0,suzuki - swift,suzuki - swift - 2015 - 0,dodge - durango,dodge - durango - 2022 - 0,NaN,NaN,NaN,NaN,NaN,NaN,...,I27: Auto Lovers full tech,I: Crema y Nata,Cliente Nuevo,0,3.0,3.51,7.24,37281.0,67611.0,58aafbfbef168c156bf34efb532f56c439981518284c9c...
1,renault - fluence,renault - fluence - 2014 - 0,renault - fluence,renault - fluence - 2016 - 0,NaN,NaN,NaN,NaN,NaN,NaN,...,J29: Jóvenes eruditos,J: Jóvenes promesas,Cliente Antiguo,0,8.0,9.83,11.41,166396.0,314859.0,471650956cf6a57ace8497c22d1771ae78cff8e935cff4...
2,suzuki - dzire,suzuki - dzire - 2021 - 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,F17: Hipotecados Institutanos. Adultos jóvenes...,F: Empujadores de carros,Cliente Nuevo,1,1.0,0.84,1.37,138115.0,183410.0,5757530871012a835fefbf40a8ace84905229db406c550...
3,suzuki - sx4,suzuki - sx4 - 2008 - 0,renault - megane,renault - megane - 2016 - 0,NaN,NaN,NaN,NaN,NaN,NaN,...,J29: Jóvenes eruditos,J: Jóvenes promesas,Cliente Nuevo,0,7.0,7.65,11.18,51477.0,97534.0,155c7418fde393198c31ccff13953dc33e493b7ea3f8aa...
4,geely - lc,geely - lc - 2014 - 0,mazda - cx5,mazda - cx5 - 2015 - 0,chevrolet - sonic,chevrolet - sonic - 2012 - 4,NaN,NaN,NaN,NaN,...,C11: Adultos consolidados,C: Al fin solos,Cliente Nuevo,0,0.0,0.00,7.45,3489.0,4395.0,c304da1ba612ab489baba36b6c9f90b5dad221f04ae5b3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394644,fiat - uno,fiat - uno - 2017 - 0,changan - ms201,changan - ms201 - 2019 - 0,NaN,NaN,NaN,NaN,NaN,NaN,...,B05: Nana con asistencia estatal. Clase asisti...,B: Asistidos,Cliente Nuevo,0,1.0,0.73,3.46,29139.0,39051.0,6bad4ba9ee245b48e5808b3dca3db8a2e0531c8b4b15be...
394645,great wall - wingle5,great wall - wingle5 - 2015 - 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,F17: Hipotecados Institutanos. Adultos jóvenes...,F: Empujadores de carros,Cliente Antiguo,0,6.0,3.54,3.81,371155.0,676168.0,5fe9092b240b489b73fd1bb4929cf2367d61d6a332614b...
394646,nissan - qashqai,nissan - qashqai - 2013 - 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,D14: Jóvenes subsidiados por sus padres,D: Sin apuro por la vida,Cliente Nuevo,0,0.0,0.00,0.66,121173.0,142582.0,32b074708e73afe7f992541a063250041b43ff4a8ad1d0...
394647,suzuki - nomade,suzuki - nomade - 2013 - 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,I27: Auto Lovers full tech,I: Crema y Nata,Cliente Nuevo,0,0.0,0.00,9.67,1562.0,1980.0,18fd7be8f377ca0d33a040f21bdf98ab33c30ca6eb0f0a...
394648,suzuki - alto,suzuki - alto - 2010 - 0,citroen - c3,citroen - c3 - 2005 - 9,fiat - uno,fiat - uno - 2020 - 0,ford - ecosport,ford - ecosport - 2018 - 3,NaN,NaN,...,A04: Pobres emergentes que creen en su esfuerzo,A: Contra la adversidad,Cliente Nuevo,0,0.0,0.00,6.45,5469.0,6864.0,81d144ad5e6f7a112f1b81eb60710d356dce3853ef24c7...